* {
  background-color: black;
  color: white;
  box-sizing: border-box;
  font-family: ubuntu;
  font-size: 33px;
}

#calc-body {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 10px;
  width: 444px;
  height: 666px;
  outline: solid #72195A 5px;
  border-radius: 25px;

}

#display {
  display: flex;
  width: 555px;
  height: 166px;
  font-size: 111px;
  justify-content: right;
  align-items: center;
  padding: 22px;
  border-top-left-radius: 25px;
  border-top-right-radius: 25px;
  border-bottom: 5px #72195A solid;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 99px;
  height: 99px;
  border: none;
  border-radius: 50%;
  background-color: #ffe74c;
  color: black;
}

.operator {
  background-color: #20A4F3;
}

#equals, #clear {
  background-color: #DB5461;
}